*.swp
*.html
*.swo
.DS_Store
*-blx.bib
*.aux
*.bbl
*.blg
*.log
*.out
*.pdf
*.run.xml
*.tex
*.bcf
*.sty
.#*
revision.tex
*.ent
**/.idea
*~
*.dump

## Ocaml
*.cmi
*.cmo
*.cmx
*.native
*.byte
*.o

# local directory w/ related work
./papers
pldi/draft.synctex.gz
pldi/draft.synctex.gz(busy)
