export Apple_PubSub_Socket_Render='/private/tmp/com.apple.launchd.62jEnrZY3y/Render'
export BC_ENV_ARGS='--quiet /Users/mgree/.bcrc'
export CAML_LD_LIBRARY_PATH='/Users/mgree/.opam/4.10.0/lib/stublibs:/Users/mgree/.opam/4.10.0/lib/ocaml/stublibs:/Users/mgree/.opam/4.10.0/lib/ocaml'
export CLICOLOR=''
export EDITOR='open -Wnt'
export GEM_HOME='/Users/mgree/.rvm/gems/ruby-2.7.0'
export GEM_PATH='/Users/mgree/.rvm/gems/ruby-2.7.0:/Users/mgree/.rvm/gems/ruby-2.7.0@global'
export HOME='/Users/mgree'
export IRBRC='/Users/mgree/.rvm/rubies/ruby-2.7.0/.irbrc'
export LANG='en_US.UTF-8'
export LOGNAME='mgree'
export MAKEFLAGS='-j 8'
export MANPATH='/usr/man:/usr/local/man:'
export MY_RUBY_HOME='/Users/mgree/.rvm/rubies/ruby-2.7.0'
export OCAML_TOPLEVEL_PATH='/Users/mgree/.opam/4.10.0/lib/toplevel'
export OPAM_SWITCH_PREFIX='/Users/mgree/.opam/4.10.0'
export PASH_PARSER='/Users/mgree/pash/parser/parse_to_json.native'
export PASH_TOP='/Users/mgree/pash'
export PATH='/Users/mgree/.rvm/gems/ruby-2.7.0/bin:/Users/mgree/.rvm/gems/ruby-2.7.0@global/bin:/Users/mgree/.rvm/rubies/ruby-2.7.0/bin:/Users/mgree/.cargo/bin:/Users/mgree/.opam/4.10.0/bin:/Users/mgree/.stack/snapshots/x86_64-osx/a7727f931711366e52e16daa7653e66fd32afad1c4cfebb2d03a12202d4a33a1/8.8.3/bin:/Users/mgree/.stack/compiler-tools/x86_64-osx/ghc-8.8.3/bin:/Users/mgree/.stack/programs/x86_64-osx/ghc-8.8.3/bin:/Users/mgree/.local/bin:/usr/local/texlive/2017/bin/x86_64-darwin:/usr/local/opt/sqlite/bin:/usr/local/Cellar/llvm/6.0.0/bin:/Applications/Visual Studio Code.app/Contents/Resources/app/bin/:/Applications/Racket v7.1/bin/:/usr/local/opt/python/libexec/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/Library/TeX/texbin:/Users/mgree/.rvm/bin'
export PS1='$ '
export PWD='/Users/mgree/pash/compiler'
export PYTHONIOENCODING='utf8'
export RAN_PROFILE='1'
export RUBY_VERSION='ruby-2.7.0'
export RUST_SRC_PATH='/Users/mgree/.rustup/toolchains/stable-x86_64-apple-darwin/lib/rustlib/src/rust/src'
export SDKROOT='/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk'
export SHELL='/bin/bash'
export SHLVL='1'
export SSH_AUTH_SOCK='/private/tmp/com.apple.launchd.tWxsl4s4CG/Listeners'
export TERM='xterm-256color'
export TERM_PROGRAM='Apple_Terminal'
export TERM_PROGRAM_VERSION='404.1'
export TERM_SESSION_ID='2C6BA681-ECE7-4DF2-9186-7E6580DB8BB3'
export TMPDIR='/var/folders/gg/bcglb26n7cj18q50d00380tc0000gn/T/'
export USER='mgree'
export XPC_FLAGS='0x0'
export XPC_SERVICE_NAME='0'
export rvm_bin_path='/Users/mgree/.rvm/bin'
export rvm_path='/Users/mgree/.rvm'
export rvm_prefix='/Users/mgree'
export rvm_version='1.29.10 (latest)'
