org: yizhengxnv
app: sls-pash-nv-acc
service: pashlib

provider:
  name: aws
  region: us-east-1
  runtime: python3.9
  memorySize: 1792
  timeout: 30
  stage: release
  layers:
    - arn:aws:lambda:us-east-1:${env:AWS_ACCOUNT_ID}:layer:pashlib:3
  iamRoleStatements:
  - Effect: "Allow"
    Action:
      - "lambda:*"
      - "logs:*"
      - "cloudwatch:*"
      - "dynamodb:*"
      - "s3:*"
      - "sqs:*"
      - "iam:GetPolicy"
      - "iam:GetPolicyVersion"
      - "iam:GetRole"
      - "iam:GetRolePolicy"
      - "iam:ListAttachedRolePolicies"
      - "iam:ListRolePolicies"
      - "iam:ListRoles"
      - "iam:PassRole"
    Resource:
      - "*"

functions:
  lambda:
    name: lambda
    handler: lambda-function.lambda_handler
    environment:
      AWS_ACCOUNT_ID: ${env:AWS_ACCOUNT_ID}
      AWS_BUCKET: ${env:AWS_BUCKET}
    maximumRetryAttempts: 0
