name: Tight-Loop Test
on:
  # Run the for-loop tests when pushing to future or when creating a new PR
  push:
    branches:
      - future
      - main
    paths: 
      - src/pash/compiler/**
      - src/pash/preprocessor/**
      - src/pash/jit_src/pash/runtime/**
      - src/pash/runtime/**
      - evaluation/**
      - annotations/**
      - scripts/**

  pull_request_target:
    types: [assigned, opened, synchronize, reopened, ready_for_review]
      # the paths that trigger the ci
    paths: 
          - src/pash/compiler/**
          - src/pash/preprocessor/**
          - src/pash/jit_src/pash/runtime/**
          - src/pash/runtime/**
          - evaluation/**
          - annotations/**
          - scripts/**

# Jobs section
jobs:
  build-pash:
      runs-on: ubuntu-latest
      if: github.event.pull_request.draft == false
      steps:
        - uses: actions/checkout@v4 
          with:
            ref: ${{ github.event.pull_request.head.sha }}
        - name: Building Pash
          run: |
            set -e
            sudo touch /.githubenv
            # install the system deps and pash the environment
            sudo -E bash scripts/distro-deps.sh -o
            # install pash (uses pip install -e)
            sudo -E bash scripts/setup-pash.sh -o
            export PASH_TOP=$PWD/src/pash
            # activate the virtual environment to get pash command
            source python_pkgs/bin/activate
            # run a simple command
            pash -c 'echo done'

        - name: Running Tight-Loop Tests
          run: |
            export PASH_TOP=$PWD/src/pash
            source python_pkgs/bin/activate
            cd evaluation/benchmarks/runtime-overhead
            results=$(bash run.sh)
            mkdir ~/artifact
            echo "$results" | tee ~/artifact/results.log
        - uses: actions/upload-artifact@v4
          with:
            name: tight-loop-artifact
            path: ~/artifact
